<div class="container">

    <h2>Lista de grupos</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Grupo</th>
            <th>Alias</th>
        </tr>
        </thead>
        <tbody>

        <tr id="resultsTable" ng-repeat="result in results | orderBy: 'group'">
            <!--Group-->
            <td>
                <span>{{result.group}}</span>
            </td>
            <!--Alias-->
            <td>
                <span>{{result.alias}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>